@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,200;0,500;1,200;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .lnk {
    @apply border-b border-solid border-transparent hover:border-blue-700 hover:text-blue-700;
  }

  /* ---- Buttons ---- */

  .secondary-button {
    @apply text-blue-700
            hover:text-white
            border border-blue-700
            hover:bg-blue-800
            focus:ring-1 focus:ring-blue-300
            font-medium
            rounded-lg
            inline-flex
            items-center
            text-sm
            w-auto
            px-5
            py-2.5
            mx-1

            text-center;
            white-space: nowrap;
  }

  .primary-button {
    @apply text-white
            bg-blue-700
            hover:bg-blue-800
            inline-flex
            items-center
            border border-blue-700
            focus:ring-1 focus:ring-blue-300
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            mx-1
            text-center;
    white-space: nowrap;
  }

  .danger-button {
    @apply text-red-700
            hover:text-white
            border border-red-700
            hover:bg-red-600
            focus:ring-1 focus:ring-red-300
            font-medium
            rounded-lg
            inline-flex
            items-center
            text-sm
            px-5
            py-2.5
            mx-1
            text-center;
            white-space: nowrap;
  }

  /* ---- Forms ---- */

  .form-label {
    @apply block
              mb-2
              text-sm
              font-medium
              text-black;
  }

  .form-input {
    @apply bg-gray-50
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
              mb-6;
  }
  .form-textarea {
    @apply block
              p-2
              w-full
              text-sm text-gray-900
              bg-gray-50
              rounded-lg
              border border-gray-300
              focus:ring-blue-500 focus:border-blue-500
              mb-6;
  }

  .default-main {
    @apply mx-auto py-10 px-10 sm:w-full lg:w-10/12 2xl:w-7/12;
  }

  .navbar-link {
    @apply block
                  py-2
                  pr-4
                  pl-3
                  text-gray-700
                  border-b border-gray-100
                  hover:bg-gray-50
                  lg:hover:bg-transparent
                  lg:border-0
                  lg:hover:text-blue-700
                  lg:p-0;
  }

  button {
    @apply select-none;
  }

  h1, h2, h3, h4, h5 {
      @apply font-inter;
  }

      .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 2px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .5s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(#FFF, #FFF)
    }

    .link-underline:hover {
        background-size: 100% 2px;
        background-position: 0 100%
    }


    .centered-page {
        @apply mx-auto
            px-4
            py-4
            sm:w-full
            lg:w-11/12
            2xl:w-10/12
    }
}